# Python virtual environment
.venv/
.env
venv/
.vscode/
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/

# GitHub workflows
.github/

# IntelliJ IDEA
DS200.Q21.1_Lab04/.planning/
.planning/
.idea/

# Java build artifacts
**/target/
*.class
*.jar
